USE [master]
GO
/****** Object:  Database [RouteShareDB]    Script Date: 02-08-2026 17:11:03 ******/
CREATE DATABASE [RouteShareDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RouteShareDB', FILENAME = N'C:\Users\shiva\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\RouteShareDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RouteShareDB_log', FILENAME = N'C:\Users\shiva\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\RouteShareDB.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RouteShareDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RouteShareDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02-08-2026 17:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthSessions]    Script Date: 02-08-2026 17:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthSessions](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[RefreshTokenHash] [nvarchar](max) NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[RevokedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 02-08-2026 17:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OfferId] [int] NOT NULL,
	[PassengerUserId] [int] NOT NULL,
	[PassengerName] [nvarchar](120) NOT NULL,
	[PassengerContact] [nvarchar](20) NOT NULL,
	[PassengerExtension] [nvarchar](20) NULL,
	[Destination] [nvarchar](150) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[BookedAt] [datetime] NOT NULL,
	[CancelledAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfferPool]    Script Date: 02-08-2026 17:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfferPool](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Contact] [nvarchar](20) NOT NULL,
	[Extension] [nvarchar](20) NOT NULL,
	[StartPoint] [nvarchar](100) NOT NULL,
	[Destination] [nvarchar](100) NOT NULL,
	[Route] [nvarchar](300) NOT NULL,
	[FromDate] [datetime2](7) NOT NULL,
	[TillDate] [datetime2](7) NOT NULL,
	[DepartureTime] [nvarchar](20) NOT NULL,
	[AvailableSeats] [int] NOT NULL,
	[OwnerId] [nvarchar](200) NOT NULL,
	[RideType] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02-08-2026 17:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](120) NOT NULL,
	[Contact] [nvarchar](20) NULL,
	[Extension] [nvarchar](20) NULL,
	[DefaultStartPoint] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260726064513_InitialCreate', N'8.0.29')
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Id], [OfferId], [PassengerUserId], [PassengerName], [PassengerContact], [PassengerExtension], [Destination], [Status], [BookedAt], [CancelledAt]) VALUES (1, 8, 2, N'ksjbdfkjs', N'8963256985', N'25', N'Balewadi', N'Confirmed', CAST(N'2026-08-02T08:02:16.833' AS DateTime), NULL)
INSERT [dbo].[Bookings] ([Id], [OfferId], [PassengerUserId], [PassengerName], [PassengerContact], [PassengerExtension], [Destination], [Status], [BookedAt], [CancelledAt]) VALUES (2, 9, 2, N'ksjbdfkjs', N'8963256985', N'10', N'Balewadi', N'Confirmed', CAST(N'2026-08-02T15:13:25.367' AS DateTime), NULL)
INSERT [dbo].[Bookings] ([Id], [OfferId], [PassengerUserId], [PassengerName], [PassengerContact], [PassengerExtension], [Destination], [Status], [BookedAt], [CancelledAt]) VALUES (3, 10, 2, N'ksjbdfkjs', N'8963256985', N'90', N'Bavdhan', N'Cancelled', CAST(N'2026-08-02T15:17:29.793' AS DateTime), CAST(N'2026-08-02T15:25:45.567' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[OfferPool] ON 

INSERT [dbo].[OfferPool] ([Id], [Name], [Contact], [Extension], [StartPoint], [Destination], [Route], [FromDate], [TillDate], [DepartureTime], [AvailableSeats], [OwnerId], [RideType]) VALUES (2, N'ksjbdfkjs', N'8963256985', N'1011', N'Baner', N'Bavdhan', N'Aundh > Karvenagar', CAST(N'2026-08-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-08-01T00:00:00.0000000' AS DateTime2), N'02:15', 1, N'akjdbcjab@gamil.com', N'Today')
INSERT [dbo].[OfferPool] ([Id], [Name], [Contact], [Extension], [StartPoint], [Destination], [Route], [FromDate], [TillDate], [DepartureTime], [AvailableSeats], [OwnerId], [RideType]) VALUES (8, N'ksjbdfkjs', N'8963256985', N'15', N'Balewadi', N'Balewadi', N'karve,warje,baner', CAST(N'2026-08-02T00:00:00.0000000' AS DateTime2), CAST(N'2026-08-02T00:00:00.0000000' AS DateTime2), N'06:23 PM', 2, N'akjdbcjab@gamil.com', N'Today')
INSERT [dbo].[OfferPool] ([Id], [Name], [Contact], [Extension], [StartPoint], [Destination], [Route], [FromDate], [TillDate], [DepartureTime], [AvailableSeats], [OwnerId], [RideType]) VALUES (9, N'ksjbdfkjs', N'8963256985', N'17', N'Balewadi', N'Balewadi', N'fc<kharadi', CAST(N'2026-08-02T00:00:00.0000000' AS DateTime2), CAST(N'2026-08-02T00:00:00.0000000' AS DateTime2), N'18:25', 0, N'akjdbcjab@gamil.com', N'Today')
SET IDENTITY_INSERT [dbo].[OfferPool] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [Password], [Name], [Contact], [Extension], [DefaultStartPoint], [CreatedAt], [UpdatedAt]) VALUES (1, N'shivampawar@gmail.com', N'Shivampawar@12345', N'Shiavm Pawar', NULL, N'', N'', CAST(N'2026-08-02T00:56:48.473' AS DateTime), CAST(N'2026-08-02T00:56:48.473' AS DateTime))
INSERT [dbo].[Users] ([Id], [Email], [Password], [Name], [Contact], [Extension], [DefaultStartPoint], [CreatedAt], [UpdatedAt]) VALUES (2, N'akjdbcjab@gamil.com', N'Shivam@12345', N'ksjbdfkjs', N'8963256985', N'', N'', CAST(N'2026-08-02T12:02:41.470' AS DateTime), CAST(N'2026-08-02T12:02:41.470' AS DateTime))
INSERT [dbo].[Users] ([Id], [Email], [Password], [Name], [Contact], [Extension], [DefaultStartPoint], [CreatedAt], [UpdatedAt]) VALUES (3, N'ram@gmail.com', N'Shivam@12345', N'ram', N'9635698632', N'', N'', CAST(N'2026-08-02T16:25:55.770' AS DateTime), CAST(N'2026-08-02T16:25:55.770' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ_Bookings]    Script Date: 02-08-2026 17:11:04 ******/
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [UQ_Bookings] UNIQUE NONCLUSTERED 
(
	[OfferId] ASC,
	[PassengerUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_bookings_offer]    Script Date: 02-08-2026 17:11:04 ******/
CREATE NONCLUSTERED INDEX [idx_bookings_offer] ON [dbo].[Bookings]
(
	[OfferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_bookings_passenger]    Script Date: 02-08-2026 17:11:04 ******/
CREATE NONCLUSTERED INDEX [idx_bookings_passenger] ON [dbo].[Bookings]
(
	[PassengerUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_OfferId]    Script Date: 02-08-2026 17:11:04 ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_OfferId] ON [dbo].[Bookings]
(
	[OfferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_PassengerUserId]    Script Date: 02-08-2026 17:11:04 ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_PassengerUserId] ON [dbo].[Bookings]
(
	[PassengerUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_offerpool_owner]    Script Date: 02-08-2026 17:11:04 ******/
CREATE NONCLUSTERED INDEX [idx_offerpool_owner] ON [dbo].[OfferPool]
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_offerpool_search]    Script Date: 02-08-2026 17:11:04 ******/
CREATE NONCLUSTERED INDEX [idx_offerpool_search] ON [dbo].[OfferPool]
(
	[StartPoint] ASC,
	[Destination] ASC,
	[DepartureTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OfferPool_OwnerId]    Script Date: 02-08-2026 17:11:04 ******/
CREATE NONCLUSTERED INDEX [IX_OfferPool_OwnerId] ON [dbo].[OfferPool]
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OfferPool_Search]    Script Date: 02-08-2026 17:11:04 ******/
CREATE NONCLUSTERED INDEX [IX_OfferPool_Search] ON [dbo].[OfferPool]
(
	[StartPoint] ASC,
	[Destination] ASC,
	[DepartureTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053440F37F83]    Script Date: 02-08-2026 17:11:04 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuthSessions] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[AuthSessions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Confirmed') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [BookedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AuthSessions]  WITH CHECK ADD  CONSTRAINT [FK_AuthSessions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuthSessions] CHECK CONSTRAINT [FK_AuthSessions_Users]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_OfferPool] FOREIGN KEY([OfferId])
REFERENCES [dbo].[OfferPool] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_OfferPool]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Users] FOREIGN KEY([PassengerUserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Users]
GO
USE [master]
GO
